[submodule "extern/SEAL"]
	path = extern/SEAL
	url = https://github.com/Microsoft/SEAL

# [submodule "extern/EMP-TOOL"]
# 	path = extern/EMP-TOOL
# 	url = https://github.com/emp-toolkit/emp-tool.git

[submodule "extern/eigen"]
	path = extern/eigen
	url = https://gitlab.com/libeigen/eigen
